<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

	  <title>Planner</title>
    <meta name="description" content="a planner" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="../js/stylesheet.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
</head>

<body>
  <!--canvas container-->
  <div class="fluid-container">

    <div class="container">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody>
          <!--populate table rows with activity dates-->
          <tr>
            <th scope="row"><a href='/date'>10/24/1988</a></th>
            <td>more info</td>
          </tr>
        </tbody>
      </table>
    </div>
  



  </div>
  <!--canvas container-->

</body>      
</html>
