<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

	  <title>Choose a Date</title>
    <meta name="description" content="a planner" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="../js/stylesheet.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
</head>

<body>
  
  <!--canvas container-->
  <div class="fluid-container">
    <div class="container editlist p-2">
      <a class="btn btn-sm btn-dark" href="/dashboard">
        Dashboard
      </a>
      <a href="/" class="btn btn-primary btn-sm">Home</a>
    </div>

    {%for eachyear in years%}
    
  
    {%for year,yearobj in eachyear.items%}
    <!--<div class="container pt-5 year {{year}}" style="min-height: 550px;" id="{{year}}">-->
    {%for month,monthobj in yearobj.items%}
    
    {%if monthobj.eachweek.exists%}
      {%if month == activemonth and year == activeyear%}
    <div class="container month pb-3 pt-3 border active" id="{{month}}-{{year}}"style="display: none; min-width: 768px;">
      {%else%}
      <div class="container month pb-3 pt-3 border" id="{{month}}-{{year}}"style="display: none; min-width: 768px;">
      {%endif%}
      <div class="container navigation">
        <div class="row">
          <div class="col">
            <div class="container previous-{{month}}" id="p-{{month}}-{{year}}">
              <button class="btn btn-primary rounded-circle float-left shadow" id="prev">Prev</button>
            </div>
          </div>
          <div class="col">
            <div class="container text-center">
              <p style="font-size: 26px;"><strong>{{month|upper}} {{year}}</strong></p>
            </div>
          </div>
          <div class="col">
            <div class="container next-{{month}}" id="n-{{month}}-{{year}}">
              <button class="btn btn-primary rounded-circle float-right shadow" id="next">Next</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container calendar text-center border shadow">
        <div class="row">
            <div class="col p-0 border-right border-left">Sun</div>
            <div class="col p-0 border-right border-left">Mon</div>
            <div class="col p-0 border-right border-left">Tue</div>
            <div class="col p-0 border-right border-left">Wed</div>
            <div class="col p-0 border-right border-left">Thu</div>
            <div class="col p-0 border-right border-left">Fri</div>
            <div class="col p-0 border-right border-left">Sat</div>
        </div>
        
        
          <!--populate table rows with activity dates
          each row is 7 equal size col p-0s
          for daynum in monthobj.length
          -->
      
        {%for weeknumber,weekdates in monthobj.eachweek.items%}
        {%if weeknumber != "exists"%}
        <div class="row week_{{weeknumber}} p-0 border-top border-bottom"><!--hard coded. should loop from first week to last week aka 4 weeks-->
          {%if weekdates%}
          <!--eachday==7 is sunday; 1,2,3,4,5,6,7-->
          <div class="col p-0 border-right border-left sun">
            <div class="container sun">
              {%for date in weekdates%}    
              {%if date.weekday == "sun"%}
              <a class="btn" href='/date/{{date.id}}' id="{{date.month}}{{date.day}}">{{date.day}}</a>
              
              {%for act in date.recurring.all%}
              <div class="container p-0 rounded shadow activity" style="background-color: {{act.color}};" width="10" id="{{act.id}}" data-toggle="tooltip" data-placement="right" title="{{act.name}}">{{act.category.category}}

              </div>
              
              {%endfor%}
              
              {%endif%}
              {%endfor%}
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left mon">
            <div class="container mon">
              {%for date in weekdates%}    
              {%if date.weekday == "mon"%}
              <a class="btn" href='/date/{{date.id}}' id="{{date.month}}{{date.day}}">{{date.day}}</a>
              {%for act in date.recurring.all%}
              <div class="container p-0 rounded shadow activity" style="background-color: {{act.color}};" width="10" id="{{act.id}}" data-toggle="tooltip" data-placement="right" title="{{act.name}}">{{act.category.category}}

              </div>
              
              {%endfor%}
              {%endif%}
              {%endfor%}
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left tue">
            <div class="container tue">
              {%for date in weekdates%}    
              {%if date.weekday == "tue"%}
              <a class="btn" href='/date/{{date.id}}' id="{{date.month}}{{date.day}}">{{date.day}}</a>
              <ul class="list-group">
              {%for act in date.recurring.all%}
              <li class="list-group-item p-0 m-0 rounded shadow activity" style="background-color: {{act.color}};" width="10" id="{{act.id}}" data-toggle="tooltip" data-placement="right" title="{{act.name}}">{{act.category.category}}

              </li>
              
              {%endfor%}
              </ul>
              {%endif%}
              {%endfor%}
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left wed">
            <div class="container wed">
              {%for date in weekdates%}    
              {%if date.weekday == "wed"%}
              <a class="btn" href='/date/{{date.id}}' id="{{date.month}}{{date.day}}">{{date.day}}</a>
              {%for act in date.recurring.all%}
              <div class="container p-0 rounded shadow activity" style="background-color: {{act.color}};" width="10" id="{{act.id}}" data-toggle="tooltip" data-placement="right" title="{{act.name}}">{{act.category.category}}

              </div>
              
              {%endfor%}
              {%endif%}
              {%endfor%}
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left thu">
            <div class="container thu">
              {%for date in weekdates%}    
              {%if date.weekday == "thu"%}
              <a class="btn" href='/date/{{date.id}}' id="{{date.month}}{{date.day}}">{{date.day}}</a>
              {%for act in date.recurring.all%}
              <div class="container p-0 rounded shadow activity" style="background-color: {{act.color}};" width="10" id="{{act.id}}" data-toggle="tooltip" data-placement="right" title="{{act.name}}">{{act.category.category}}

              </div>
              
              {%endfor%}
              {%endif%}
              {%endfor%}
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left fri">
            <div class="container fri">
              {%for date in weekdates%}    
              {%if date.weekday == "fri"%}
              <a class="btn" href='/date/{{date.id}}' id="{{date.month}}{{date.day}}">{{date.day}}</a>
              {%for act in date.recurring.all%}
              <div class="container p-0 rounded shadow activity" style="background-color: {{act.color}};" width="10" id="{{act.id}}" data-toggle="tooltip" data-placement="right" title="{{act.name}}">{{act.category.category}}

              </div>
              
              {%endfor%}
              {%endif%}
              {%endfor%}
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left sat">
            <div class="container sat">
              {%for date in weekdates%}    
              {%if date.weekday == "sat"%}
              <a class="btn" href='/date/{{date.id}}' id="{{date.month}}{{date.day}}">{{date.day}}</a>
              {%for act in date.recurring.all%}
              <div class="container p-0 rounded shadow activity" style="background-color: {{act.color}};" width="10" id="{{act.id}}" data-toggle="tooltip" data-placement="right" title="{{act.name}}">{{act.category.category}}

              </div>
              
              {%endfor%}
              {%endif%}
              {%endfor%}
              <br>
            </div>
          </div>
          {%else%}
          <div class="col p-0 border-right border-left sun">
            <div class="container sun">
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left mon">
            <div class="container mon">
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left tue">
            <div class="container tue">
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left wed">
            <div class="container wed">
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left thu">
            <div class="container thu">
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left fri">
            <div class="container fri">
              <br>
            </div>
          </div>
          <div class="col p-0 border-right border-left sat">
            <div class="container sat">
              <br>
            </div>
          </div>
          {%endif%}  
        </div>
        {%endif%}
        {%endfor%}
        
      </div>

    <!-- group activities by category and only show activites for current month on calendar
      for weeknumber,weekdates in monthobj.eachweek.items
        if weeknumber != "exists" and weekdates
        for date in weekdates
      <div class="container edit">
        for category in categories
        {{category.category}}
        for aid,name,catid in activitiesbyname.values
        
        if catid == category.id
        <div class="container">
          <a class="btn btn-link" href="edit/{{aid}}"> {{name}}</a>
        </div>
        endif
        endfor
        endfor
      </div>-->

    </div>
    <!--end of month-->

    
    {%endif%}
    {%endfor%}
  <!--</div>-->
  {%endfor%}
  {%endfor%}
<!--end of year-->
  <div class="container pt-3 text-center">
    <a class="btn btn-primary shadow" href="/create/">Create Activities</a>
  </div>
  <div class="container">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle shadow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {%for category in categories%}
        <a class="dropdown-item" href="#" id="{{category.category}}">{{category.category}}</a>
        {%endfor%}
        
      </div>
    </div>
  </div>
  
  <div class="container">
    {%for category in categories%}
    {{category.category}}
    {%for aid,name,catid in activitiesbyname.values%}
    
    {%if catid == category.id%}
    <div class="container">
      <a class="btn btn-link" href="edit/{{aid}}"> {{name}}</a>
    </div>
    {%endif%}
    {%endfor%}
    {%endfor%}
  </div>

    
    
  



  </div>
  <!--canvas container-->
  {%load static%}
  <script src="{% static 'planner/datelist.js' %}"></script>
</body>      
</html>
